@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: white;
}

/* button */
.btn-primary {
  color: white;
  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  border-radius: 6px;
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.btn-primary:hover {
  opacity: 0.7;
}

.btn-secondary {
  background-color: white;
  color: #0d6efd;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}

.btn-success {
  background: #00b517;
  border-radius: 8px;
}

/* Timer */

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75rem;
  margin-left: -25px;
  padding-top: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ffffff;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  font-size: 12px;
  font-weight: 400;
}

.show-counter .countdown-link .date {
  background-color: #000;
}

.bg-skin {
  background: #ffffff;
  /* white */

  border: 1px solid #ffffff;
  /* shadow-sm */

  box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
  border-radius: 6px;
}

.bg-quote {
  background: linear-gradient(94.99deg, #2c7cf1 7.19%, rgba(0, 209, 255, 0.5) 89.49%);
}

.quote {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.25);
  border-radius: 6px;
}

.shadow-none {
  box-shadow: none;
}

.shadow-all {
  box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.25);
  border-radius: 6px;
}
