@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* button */
.btn-primary {
    color: white;
    background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
}

.btn-secondary {
    background-color: white;
    color: #0D6EFD;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
}

.btn-success {
    background: #00B517;
    border-radius: 8px;
}

/* Timer */

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75rem;
  margin-left: -25px;
  padding-top: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ffffff;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  font-size: 12px;
  font-weight: 400;
}

.show-counter .countdown-link .date {
  background-color: #000;
}

.bg-skin {
  background: #FFFFFF;
/* white */

border: 1px solid #FFFFFF;
/* shadow-sm */

box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
border-radius: 6px;
}

.bg-quote {
  background: linear-gradient(94.99deg, #2C7CF1 7.19%, rgba(0, 209, 255, 0.5) 89.49%);
  }

.quote {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.25);
  border-radius: 6px;
}